/* FONTS */
@font-face {
  font-family: "";
  src: url("../assets/fonts/");
}
/* BODY */
body {
  margin: 0;
  padding: 0;
  
  width: 100dvw;
  overflow: hidden;
  font-family: sans-serif;
  background-image: url(../assets/image/Wiki-background.webp);

  background-size: cover;
  background-repeat: no-repeat;
}

/* Venussaur healthbar css*/
.venusaurHealthBar{
 
  height: 100px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 6px rgba(0,0,0,0.95);
  -webkit-box-shadow: 0px 1px 2px 6px rgba(0,0,0,0.95);
  -moz-box-shadow: 0px 1px 2px 6px rgba(0,0,0,0.95);
  background-color: beige;
  position: absolute;
  top: 15rem;
  right: 20rem;
}


.topBar {
  width: 100%;
  height: 50%;
  display: flex;
  position: relative;
  
}
.Name{
  font-family: 'Press Start 2P', system-ui;
  display: flex;
  margin-left: 10px;
  width: 50%;
  height: 100%;
}

.Name h3{
   font-family: 'Press Start 2P', system-ui;
   font-size: 15px;

}

.Lvl {
  display: flex;
  position: absolute;
  margin-left: 240px;
  width: 50%;
  height: 100%;
}

.Lvl h3 {
  font-family: 'Press Start 2P', system-ui;
   font-size: 10px;

}

.botBar {
  width: 100%;
  height: 50%;
  position: relative;
  
  /* background-color: red; */
  
  
}

.healthBar {
  box-shadow: 0px 1px 0px 4px rgba(0,0,0,0.95);
-webkit-box-shadow: 0px 1px 0px 4px rgba(0,0,0,0.95);
-moz-box-shadow: 0px 1px 0px 4px rgba(0,0,0,0.95);
  height: 20px;
  width: 200px;
  position: absolute;
  right: 10px;
  border-radius: 5px;
  display: flex;
  background-color: transparent
}

.HP{
  background-color: rgb(39, 16, 16);
  width: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 20px;
  display: flex;

}
#hpIcon {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  font-size: 10px;
  font-weight:  bolder;
}

.health {
  width: 170px;
  height: 20px;
  background-color: rgb(48, 185, 48);
  transition: width 2s ease;
}


#Lapras {
  position: absolute ;
  bottom: 150px;
  left: 450px;
  height: 300px;
  z-index: -1;
}
#Venusaur {
  position: absolute ;
  top: 370px;
  right: 550px;
  height: 150px;

}
 /*Lapras healthbar components*/

 .laprasHealthBar{
 
  height: 100px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 6px rgba(0,0,0,0.95);
  -webkit-box-shadow: 0px 1px 2px 6px rgba(0,0,0,0.95);
  -moz-box-shadow: 0px 1px 2px 6px rgba(0,0,0,0.95);
  background-color: beige;
  position: absolute;
  bottom: 25rem;
  left: 15rem;
}

.topBar2 {
  width: 100%;
  height: 50%;
  display: flex;
  position: relative;
  
}
.Name2{
  font-family: 'Press Start 2P', system-ui;
  display: flex;
  margin-left: 10px;
  width: 50%;
  height: 100%;
}

.Name2 h3{
   font-family: 'Press Start 2P', system-ui;
   font-size: 15px;

}

.Lvl2 {
  display: flex;
  position: absolute;
  margin-left: 240px;
  width: 50%;
  height: 100%;
}

.Lvl2 h3 {
  font-family: 'Press Start 2P', system-ui;
   font-size: 10px;

}

.botBar2 {
  width: 100%;
  height: 50%;
  position: relative;
  
}

.healthBar2 {
  box-shadow: 0px 1px 0px 4px rgba(0,0,0,0.95);
-webkit-box-shadow: 0px 1px 0px 4px rgba(0,0,0,0.95);
-moz-box-shadow: 0px 1px 0px 4px rgba(0,0,0,0.95);
  height: 20px;
  width: 200px;
  position: absolute;
  display: flex;
  right: 10px;
  border-radius: 5px;
  background-color: transparent
}

.HP2{
  background-color: rgb(39, 16, 16);
  width: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 20px;
  display: flex;

}
#hpIcon2 {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  font-size: 10px;
  font-weight:  bolder;
}

.health2 {
  width: 170px;
  height: 20px;
  background-color: rgb(48, 185, 48);
  transition: width 2s ease;
}


.hudContainer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(24, 24, 24, 0.5);
  border-radius: 15px;
  /* opacity: 50%; */
  position: absolute;
  bottom: 0;
  z-index: -1;
  box-shadow: -2px -2px 13px 5px rgba(247,209,209,0.84) inset;
  -webkit-box-shadow: -2px -2px 13px 5px rgba(247,209,209,0.84) inset; 
  -moz-box-shadow: -2px -2px 13px 5px rgba(247,209,209,0.84) inset;

}
.battleText{
  position: relative;
  width: 70%;
  padding-left: 50px;
}

.combatHUD {
  font-family: 'Press Start 2P', system-ui;
  height: 180px;
  width: 30%;
  background-color: rgb(240, 240, 240);
  
  border: solid 10px rgb(49, 49, 49);
  
  z-index: 2;
  display: flex;
  opacity: 100%;
  

}

.left{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  

}
.right{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  cursor: pointer;


}

.left p {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
}
.right p {
  margin-right: 0px;
  font-size: 20px;
  font-weight: 700;
}

#next {
  position: absolute;
  bottom: 0px;
  right: 20px;
  background-color: rgb(133, 224, 133, 0.6);
  padding: 20px 30px;
  /* display: none; */
}

.iceBeam {
  cursor: pointer;
}
.iceBeam:hover {
  border: solid 2px black;
  padding: 5px 5px;
}

.surf {
  cursor: pointer;
}

.surf:hover {
  border: solid 2px black;
  padding: 5px 5px;
}

.rest {
  cursor: pointer;
}

.rest:hover {
  border: solid 2px black;
  padding: 5px 5px;
}

.confuseRay {
  cursor: pointer;
}
.confuseRay:hover {
  border: solid 2px black;
  padding: 5px 5px;
}


/*# sourceMappingURL=app.css.map */


.fightDesc {
  color: white;
  font-size: 1.1em;
  font-family: 'Press Start 2P', system-ui;;
}