/* FONTS */
@font-face {
  font-family: "";
  src: url("../assets/fonts/");
}
/* BODY */
body {
  margin: 0;
  padding: 0;
  /* display: none; */
  width: 100dvw;
  overflow-y: hidden;
  font-family: sans-serif;
  background-image: url(../assets/image/Wiki-background.webp);
  z-index: 0;

  background-size: cover;
  background-repeat: no-repeat;
}


/* @media (max-width: 1300px) {

  .responsive {
    height: 100vh;
    width: 100vw;
    z-index: 20;
    display: block;
    justify-content: center;
    background-image: url(./../assets/image/bg2.gif);
    background-position: center;
    
  }
} */





.combatMap {
  display: none;
  

}

.selectScreen {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.top {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5abee8;
  background-repeat: no-repeat;

}

.banner {

width: 400px;
height: 200px;
background-image: url(../assets/image/pokemonVS.png);
transition: background-size 0.2s;
background-repeat: no-repeat;
transform: rotate(-20deg);


}
.banner:hover {
  background-size: 101%;
}

.bot {
  width: 100%;
  height: 65%;
  background-color: #5abee8;
  background-image: url(../assets/image/bg1.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1300px) {
  .bot {
    background-image: none;
    background-color: transparent;
   
  }
  .top {
    background-color: transparent;
  }

  .cardcontainer {
    display: none !important;
  }

  .leftbot {
    display: none !important;
  }
  .banner {
    background-image: url(./../assets/image/desktop.png);
    background-position: center;
    width: 100vw;
  
    height: 400px;
    margin-top: 200px;

    transform: rotate(0deg);
  }
}



@media (max-width: 500px) {
  .banner {
    background-image: url(
      ./../assets/image/desktopSmaller.png
    );
  }

}



.selectLeft {
  width: 50%;
  height: 100%;
  background-image: url(../assets/image/select_lapras.gif);
  background-size: 150%;
  margin-right: 200px;
  background-repeat: no-repeat;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftbot {
  width: 30%;
  height: 100%;
 
  display: flex;
  justify-content: center;
  padding-left: 400px;
  padding-bottom: 300px;
  align-items: center;
}


.container {
  display: flex;
  position: relative;
}

.button {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 8px;
  padding: .5em 1.5em;
  font-size: 30px;
  font-weight: 600;
  color: white;
  transition: all .3s ease;
}


@media (max-width:1850px) {


  .button {
    margin-right: 100px;
}
  .arrow {
    margin-right: 100px;
}


}

@media (max-width:1800px) {


  .button {
    margin-right: 150px;
}
  .arrow {
    margin-right: 150px;
}


}
@media (max-width:1750px) {


  .button {
    margin-right: 200px;
}
  .arrow {
    margin-right: 200px;
}


}
@media (max-width:1700px) {


  .button {
    margin-right: 240px;
}
  .arrow {
    margin-right: 240px;
}


}
@media (max-width:1650px) {


  .button {
    margin-right: 700px;
}
  .arrow {
    margin-right: 700px;
}


}
@media (max-width:1500px) {


  .button {
    margin-right: 1000px;
}
  .arrow {
    margin-right: 1000px;
}


}

.arrow {
  fill: yellow;
  position: absolute;
  pointer-events: none;
  width: 30px;
  right: 0;
  top: 25%;
  transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.button:hover {
  letter-spacing: 2px;
}



.second, 
.third {
  opacity: 0;
}


.rightbot {
  width: 70%;
  height: 100%;
  z-index: 10;
 
}





.cardcontainer {
  width: 470px;
  height:470px;
  position: absolute;
  top: 250px;
  right: 40rem;
  

  background-image: url(../assets/image/pokeball-d.png);
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: cover;
 
  border: solid 5px white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  box-sizing: border-box;
  width: 190px;
  height: 190px;
  background: rgba(217, 217, 217, 0.10);
  border: 4px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.10);
  backdrop-filter: blur(4px);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}


.selectRight {
  width: 50%;
  height: 100%;
  background-image: url(../assets/select_pokemon-venusaur.gif);
  background-repeat: no-repeat;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Venussaur healthbar css*/
.venusaurHealthBar{
 
  height: 100px;
  width: 300px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  box-shadow: 0px 1px 2px 6px rgba(0,0,0,0.95);
  -webkit-box-shadow: 0px 1px 2px 6px rgba(0,0,0,0.95);
  -moz-box-shadow: 0px 1px 2px 6px rgba(0,0,0,0.95);
  background-color: beige;
  position: absolute;
  top: 15rem;
  right: 20rem;
}


.topBar {
  width: 100%;
  height: 50%;
  display: flex;
  position: relative;
  
}
.Name{
  font-family: 'Press Start 2P', system-ui;
  display: flex;
  margin-left: 10px;
  width: 50%;
  height: 100%;
}
#venusaurGender {
  color: blue;
  font-family: 'Press Start 2P', system-ui;
  position: absolute;
  font-style:italic;
  left: 133px;
  bottom: 4px;
  

}

.Name h3{
   font-family: 'Press Start 2P', system-ui;
   font-size: 15px;

}

.Lvl {
  display: flex;
  position: absolute;
  margin-left: 240px;
  width: 50%;
  height: 100%;
}

.Lvl h3 {
  font-family: 'Press Start 2P', system-ui;
   font-size: 10px;

}

.botBar {
  width: 100%;
  height: 50%;
  position: relative;
  
  /* background-color: red; */
  
  
}

.healthBar {
  box-shadow: 0px 1px 0px 4px rgba(0,0,0,0.95);
-webkit-box-shadow: 0px 1px 0px 4px rgba(0,0,0,0.95);
-moz-box-shadow: 0px 1px 0px 4px rgba(0,0,0,0.95);
  height: 20px;
  width: 200px;
  position: absolute;
  right: 10px;
  border-radius: 5px;
  display: flex;
  background-color: transparent
}

.HP{
  background-color: rgb(39, 16, 16);
  width: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 20px;
  display: flex;

}
#hpIcon {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  font-size: 10px;
  font-weight:  bolder;
}

.health {
  width: 170px;
  height: 20px;
  background-color: rgb(48, 185, 48);
  transition: width 1.5s;
}


#Lapras {
  position: absolute ;
  bottom: 150px;
  left: 450px;
  height: 300px;
  z-index: -1;
}

/* Lapras responsive */

@media (max-width:1700px) {
  #Lapras {
    bottom: 10rem;
    left: 24rem;
  }

  .laprasHealthBar {
    bottom: 25rem !important;
    left: 12rem !important;
    
  }
}

@media (max-width:1570px) {
  #Lapras {
    bottom: 12rem;
    left: 20rem;
  }
  .laprasHealthBar {
    bottom: 27rem !important;
    left: 8rem !important;
    
  }


}

@media (max-width:1400px) {
  #Lapras {
    bottom: 15rem;
    left: 18rem;
  }
  .laprasHealthBar {
    bottom: 30rem !important;
    left: 6rem !important;
    
  }

}






#Venusaur {
  position: absolute ;
  top: 25rem;
  right: 35rem;
  height: 150px;

}

/* Venusaur responsive*/
@media (max-width:1750px) {
  #Venusaur {
    top: 22rem;
    right: 32rem;
  }
}

@media (max-width:1575px) {

  #Venusaur {
    top: 19rem;
    right: 27rem;
  }

  .venusaurHealthBar {

    top:11rem;
    right:13rem;
  }


}

@media (max-width:1370px) {

  #Venusaur {
    top: 16rem;
    right: 24rem;
  }
  .venusaurHealthBar {

    top:8rem;
    right:10rem;
  }

}




 /*Lapras healthbar components*/

 .laprasHealthBar{
 
  height: 100px;
  width: 300px;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 1px 2px 6px rgba(0,0,0,0.95);
  -webkit-box-shadow: 0px 1px 2px 6px rgba(0,0,0,0.95);
  -moz-box-shadow: 0px 1px 2px 6px rgba(0,0,0,0.95);
  background-color: beige;
  position: absolute;
  bottom: 25rem;
  left: 15rem;
}

.topBar2 {
  width: 100%;
  height: 50%;
  display: flex;
  position: relative;
  
}
.Name2{
  font-family: 'Press Start 2P', system-ui;
  display: flex;
  gap: 10px;
  margin-left: 10px;
  width: 50%;
  height: 100%;
}

.Name2 h3{
  display: flex;
   font-family: 'Press Start 2P', system-ui;
   font-size: 15px;
   
   

}

#laprasGender {
  color: rgb(235, 24, 24);
  font-family: 'Press Start 2P', system-ui;
  position: absolute;
  
  left: 103px;
  bottom: 4px;
  

}

.Lvl2 {
  display: flex;
  position: absolute;
  margin-left: 240px;
  width: 50%;
  height: 100%;
}

.Lvl2 h3 {
  font-family: 'Press Start 2P', system-ui;
   font-size: 10px;

}

.botBar2 {
  width: 100%;
  height: 50%;
  position: relative;
  
}

.healthBar2 {
  box-shadow: 0px 1px 0px 4px rgba(0,0,0,0.95);
-webkit-box-shadow: 0px 1px 0px 4px rgba(0,0,0,0.95);
-moz-box-shadow: 0px 1px 0px 4px rgba(0,0,0,0.95);
  height: 20px;
  width: 200px;
  position: absolute;
  display: flex;
  right: 10px;
  border-radius: 5px;
  background-color: transparent
}

.HP2{
  background-color: rgb(39, 16, 16);
  width: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 20px;
  display: flex;

}
#hpIcon2 {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  font-size: 10px;
  font-weight:  bolder;
}

.health2 {
  width: 170px;
  height: 20px;
  background-color: rgb(48, 185, 48);
  transition: width 1.5s;
}

.surfAnimation{
  z-index: 1;
  opacity: 0;
  transition-duration: 1.7s;
  position: absolute;
  left: 250px;
  top: -3rem;
  

}
.surfAnimation.show{
  opacity: 1;
 }
 


.surfAnimation.translate {
  transform: translate(450px);
}





@keyframes sleepAnim {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px); /* Adjust upward movement distance */
  }
}



.sleepEffect {
  position: absolute;
  bottom: 440px; /* Adjust position as needed */
  left: 43rem; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  width: 50px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  overflow: hidden; /* Clip overflowing content */
}

.sleepEffect .z {
  position: absolute;
  color: whitesmoke; /* Adjust color as needed */
  font-size: 30px; /* Adjust font size as needed */
  font-family: sans-serif; /* Adjust font family as needed */
  animation: sleepAnim 2s ease-in infinite;
}


@keyframes sleepAnim {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px); /* Adjust upward movement distance */
  }
}



.hudContainer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(24, 24, 24, 0.5);
  border-radius: 15px;
  /* opacity: 50%; */
  position: absolute;
  bottom: 0;
  z-index: -1;
  box-shadow: -2px -2px 13px 5px rgba(247,209,209,0.84) inset;
  -webkit-box-shadow: -2px -2px 13px 5px rgba(247,209,209,0.84) inset; 
  -moz-box-shadow: -2px -2px 13px 5px rgba(247,209,209,0.84) inset;

}
.battleText{
  position: relative;
  width: 70%;
  padding-left: 50px;
}

.combatHUD {
  font-family: 'Press Start 2P', system-ui;
  height: 180px;
  width: 30%;
  background-color: rgb(240, 240, 240);
  
  border: solid 10px rgb(49, 49, 49);
  
  z-index: 2;
  display: flex;
  opacity: 100%;
  

}

.left{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  

}
.right{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  cursor: pointer;


}

.left p {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
}
.right p {
  margin-right: 0px;
  font-size: 20px;
  font-weight: 700;
}

#next {
  position: absolute;
  font-family: 'Press Start 2P', system-ui;
  font-size: 20px;
  bottom: 0px;
  right: 20px;
  background-color: rgba(235, 247, 5, 0.9);
  padding: 20px 30px;
  cursor: pointer;
  /* display: none; */
}

.iceBeam {
  cursor: pointer;
}
.iceBeam:hover {
  color: red;
  
}

.surf {
  cursor: pointer;
}

.surf:hover {
  color: red;
}

.rest {
  cursor: pointer;
}

.rest:hover {
  color: red;
}

.confuseRay {
  cursor: pointer;
}
.confuseRay:hover {
  color: red;
}


/*# sourceMappingURL=app.css.map */


.fightDesc {
  color: white;
  font-size: 1.1em;
  font-family: 'Press Start 2P', system-ui;;
}